<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <system.serviceModel>
    <services>
      <service name="HSR.CloudSolutions.SmartKitchen.Service.SmartKitchenService">
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:13370/SmartKitchenService"/>
          </baseAddresses>
        </host>
        <endpoint address="net.tcp://localhost:13370/SmartKitchenService" binding="netTcpBinding"
                  contract="HSR.CloudSolutions.SmartKitchen.Service.Interface.ISmartKitchenService"/>
      </service>
    </services>
  </system.serviceModel>
</configuration>